<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noor portfolio| Web Developer & UX/UI Designer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <div class="container">
            <h1>Hello, I'm Noor said!</h1>
            <p>Web Developer | Full-Stack | UX/UI Designer | Cloud Computing </p>
        </div>
    </header>

    <nav>
        <div class="container">
            <a href="#about">About me</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact me</a>
        </div>
    </nav>

    <id="about" class="container">
        <h2>About Me</h2>
        <p>I am an IT student from UTAS muscat, Oman. passionate about creating digital experiences through web development, full-stack technologies, and user-centered design. I love learning new skills, collaborating with others, and building beautiful, functional websites.</p>
        
    </section>

    <section id="skills" class="container">
        <h2>Skills</h2>
        <ul>
            <li>HTML / CSS / JavaScript</li>
            <li>React / Node.js</li>
            <li>Figma</li>
            <li>Responsive Web Design</li>
            <li>Cloud Computing</li>

        </ul>
    </section>

    <section id="projects" class="container">
        <h2>Projects</h2>
        <p><strong> - Portfolio Website</strong> - Designed and developed a responsive personal portfolio to showcase projects and skills.</p>
        <p><strong> - Accessories Website (University Project)</strong> - Built a basic e-commerce website using HTML, CSS, and JavaScript.</p>
        <p><strong> - Car Rental App</strong> - Created a car rental application using React and Node.js.</p>
    </section>

    <section id="contact" class="container">
        <h2>Contact Me</h2>
        <p>Email: <a href="mailto:nh20302@gmail.com">Contact Me from here</a></p>
        <p>LinkedIn: <a href="www.linkedin.com/in/noor-al-shamsi" target="_blank">My LinkedIn Profile</a></p>
    </section>

    <footer>
        <div class="container">
            <p>© 2025 Noor. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
